@import url('https://fonts.googleapis.com/css2?family=Overpass&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&family=Kiwi+Maru&display=swap');


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Overpass', sans-serif;
}

.app{
  height: 100vh;
  color: white;
  background: linear-gradient(rgba(126, 26, 26, 0.6), rgba(0, 0, 0, 0.5)), url('../src/assets/3.jpg');
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.card{
  position: absolute;
  top: 28%;
  background-color: black;
  opacity: 0.8;
  padding: 50px 60px 30px 60px;
  border-radius: 30px;
  width: 750px;
}

h1{
  margin-bottom: 50px;
  color: #ff4b34;
  letter-spacing: 1px;
  font-family: 'Kiwi Maru', serif;
}

button{
  font-size: 12px;
  padding: 12px 25px;
  font-weight: bold;
  border-radius: 30px;
  outline: none;
  cursor: pointer;
  background: transparent;
  border: 2px solid #5c5c5c;
  color: #ffb3aa;
  letter-spacing: 1px;
}

button:hover{
  transform: scale(1.05)
}


@media screen and (max-width:1000px){
  .card{
    width: 600px;
  }
}

@media screen and (max-width:800px){
  .card{
    top:20%;
    width: 400px;
  }
}

@media screen and (max-width:500px){
  .card{
    top:20%;
    width: 350px;
  }

  h1{
    font-size: 25px;
  }
}

@media screen and (max-width:340px){
  .card{
    top:20%;
    width: fit-content;
  }

  h1{
    font-size: 20px;
  }
}